@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1f4fd;
}
.container{
    max-width: 1200px;
    width: 95%;
}
.slider-wraper .slide-btn{
    height: 50px;
    width: 50px;
    color: #fff;
    background: #000;
    position: absolute;
    border: none;
    outline: none;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.slider-wraper .slide-btn:hover{
    background: #444;
}
.slider-wraper{
    position: relative;
}
.slider-wraper .slide-btn#prev-slide{
    left: -20px;
    display: none;
}
.slider-wraper .slide-btn#next-slide{
    right: -20px;
}
.slider-wraper .image-list{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
}
.slider-wraper .image-list::-webkit-scrollbar{
    display: none;
}
.slider-wraper .image-list .image-item{
    width: 325px;
    height: 400px;
    object-fit: cover;
}
.container .slider-scroll{
    height: 24px;
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
}
.slider-scroll .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
    border-radius: 4px;
    position: relative;
}
.slider-scroll:hover .scrollbar-track{
    height: 4px;
}
.slider-scroll .scrollbar-thumb{
    position: absolute;
    height: 2px;
    width: 50%;
    background: #000;
    height: 100%;
    border-radius: inherit;
    cursor: grab;
}
.slider-scroll:hover .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.slider-scroll .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
@media(max-width: 1023px){
    .slider-wraper .slide-btn{
        display: none!important;
    }
    .slider-wraper .image-list{
        gap: 10px;
        margin-bottom: 15px;
    }
    .slider-wraper .image-list .image-item{
        width: 280px;
        height: 380px;
    }
    .slider-scroll .scrollbar-thumb{
        width: 20%;
    }
}
